<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697793802521-bb574rf3bs0h1r0d9ri3ejfqccvpjpa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697793802521-bb574rf3bs0h1r0d9ri3ejfqccvpjpa6</string>
	<key>API_KEY</key>
	<string>AIzaSyCCrplqyLvYUoxQdnoI5z-4AQqcMdCOxeg</string>
	<key>GCM_SENDER_ID</key>
	<string>697793802521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leduy10192.FoodPlus</string>
	<key>PROJECT_ID</key>
	<string>foodplus-461c6</string>
	<key>STORAGE_BUCKET</key>
	<string>foodplus-461c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697793802521:ios:fd2dbc31a58366c0329588</string>
	<key>DATABASE_URL</key>
	<string>https://foodplus-461c6.firebaseio.com</string>
</dict>
</plist>